@using PositiveEdu.DAL
@using PagedList
@using PagedList.Mvc
@model  T_Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>
            新增会员
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="/CustomerManage">会员管理</a>
            </li>
            <li class="active">
                <strong>
                    新增会员
                </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        新增会员
                    </h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("CustomerCreate", "CustomerManage", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label>会员姓名：</label>
                            <input type="text" placeholder="会员名称" id="InputMobile" class="form-control" name="CustomerRealName" value="@Model.CustomerRealName">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>会员手机号：</label>
                            <input type="text" placeholder="会员手机号" id="InputMobile" class="form-control" name="CustomerPhoneNum" value="@Model.CustomerPhoneNum">


                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>会员编号：</label>
                            <input type="text" placeholder="会员编号" id="InputMobile" class="form-control" name="CustomerId" value="@Model.CustomerId">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>证件编号：</label>
                            <select name="CustomerCertificateType">
                                <option value="护照"  @(Model.CustomerCertificateType == "护照" ? "selected =selected" : "")>护照</option>
                                <option value="身份证" @(Model.CustomerCertificateType == "身份证" ? "selected =selected" : "")>身份证</option>
                            </select>
                            <input type="text" placeholder="证件编号" id="InputMobile" class="form-control" name="CustomerCertificateNum" value="@Model.CustomerCertificateNum">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>性别：</label>
                            <select name="CustomerSex">
                                <option value="男" @(Model.CustomerSex == "男" ? "selected =selected" : "")>男</option>
                                <option value="女" @(Model.CustomerSex == "女" ? "selected =selected" : "")>女</option>
                                <option value="未知" @(Model.CustomerSex == "未知" ? "selected =selected" : "")>未知</option>
                            </select>
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>所属区域：</label>

                            <select class="select" name="province" id="s1"><option></option></select>
                            <select class="select" name="city" id="s2"><option></option></select>
                            <select class="select" name="town" id="s3"><option></option></select>
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>微信号：</label>
                            <input type="text" placeholder="微信号" id="InputMobile" class="form-control" name="CustomerWechatNum" value=" @Model.CustomerWechatNum">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>微博号：</label>
                            <input type="text" placeholder="微博号" id="InputMobile" class="form-control" name="CustomerWeiboNum" value="@Model.CustomerWeiboNum">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>QQ号：</label>
                            <input type="text" placeholder="QQ号" id="InputMobile" class="form-control" name="CustomerQQNum" value="@Model.CustomerQQNum">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>Email：</label>

                            <input type="text" placeholder="Email" id="InputMobile" class="form-control" name="CustomerEmailNum" value="@Model.CustomerEmailNum">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>账户是否有效：</label><h3></h3>

                            <input type="radio" id="InputMobile"     @(Model.AccountEffect == 0 ? "checked=checked" : "") class="form-control" name="AccountEffect" value="0">是



                            <input type="radio" id="InputMobile" @(Model.AccountEffect == 1 ? "checked=checked" : "") class="form-control" name="AccountEffect" value="1">否


                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>会员标签：</label>
                            @{

                                PeContext DB = new PeContext();
                                var a = DB.T_CustomerTag.ToList();
                                foreach (var item in a)
                                {
                                    <input type="checkbox" name="CustomerTag"
                                           @{ if (Model.CustomerTag != null) { @(Model.CustomerTag.Split(',').Contains("" + item.id) ? "checked=checked" : "")  } }
                                           value="@item.id" />@item.TagName<text>|</text>
                                    }

                                    DB.Dispose();

                            }


                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>当前积分：</label>
                            <input type="text" placeholder="当前积分" id="InputMobile" class="form-control" name="CustomerCurrentIntegral" value="@Model.CustomerCurrentIntegral">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">生日</label>
                            <div class="col-sm-10">
                                <div class="input-group date col-lg-3">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @{
                                        string dtStr = string.Empty;
                                        if (Model.CustomerBirthday.HasValue)
                                        {
                                            dtStr = Model.CustomerBirthday.Value.ToString("yyyy-MM-dd");
                                        }
                                    }
                                    <input type="text" style="width:500px " class="form-control input-sm" name="CustomerBirthday" value="@dtStr">
                                </div>
                            </div>
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">加入时间</label>
                            <div class="col-sm-10">
                                <div class="input-group date col-lg-3">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @{
                                        string dtStrs = string.Empty;
                                        if (Model.CustomerTakeTime.HasValue)
                                        {
                                            dtStrs = Model.CustomerTakeTime.Value.ToString("yyyy-MM-dd");
                                        }
                                    }
                                    <input type="text" style="width:500px " class="form-control input-sm" name="CustomerTakeTime" value="@dtStrs">
                                </div>
                            </div>
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段1</label>

                            <input type="text" placeholder="自定义字段1" id="InputMobile" class="form-control" name="CustomizeTag1" value="@Model.CustomizeTag1">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段2</label>
                            <input type="text" placeholder="自定义字段2" id="InputMobile" class="form-control" name="CustomizeTag2" value="@Model.CustomizeTag2">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段3</label>
                            <input type="text" placeholder="自定义字段3" id="InputMobile" class="form-control" name="CustomizeTag3" value="@Model.CustomizeTag3">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段4</label>
                            <input type="text" placeholder="自定义字段4" id="InputMobile" class="form-control" name="CustomizeTag4" value="@Model.CustomizeTag4">


                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段5</label>
                            <input type="text" placeholder="自定义字段5" id="InputMobile" class="form-control" name="CustomizeTag5" value="@Model.CustomizeTag5">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段6</label>

                            <input type="text" placeholder="自定义字段6" id="InputMobile" class="form-control" name="CustomizeTag6" value="@Model.CustomizeTag6">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段7</label>

                            <input type="text" placeholder="自定义字段7" id="InputMobile" class="form-control" name="CustomizeTag7" value="@Model.CustomizeTag7">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段8</label>

                            <input type="text" placeholder="自定义字段8" id="InputMobile" class="form-control" name="CustomizeTag8" value="@Model.CustomizeTag8">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段9</label>

                            <input type="text" placeholder="自定义字段9" id="InputMobile" class="form-control" name="CustomizeTag9" value="@Model.CustomizeTag9">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>自定义字段10</label>

                            <input type="text" placeholder="自定义字段10" id="InputMobile" class="form-control" name="CustomizeTag10" value="@Model.CustomizeTag10">

                        </div> <div class="hr-line-dashed"></div>


                        <button class="btn btn-white" type="submit">保存</button>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
@section Myscripts{
    <script src="~/Scripts/Address.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
                window.onload = function () {

                    var a ="@(Model.CustomerAddressProvince != null ? Model.CustomerAddressProvince : "湖南省")"
                           var b =      "@(Model.CustomerAddressCity != null ? Model.CustomerAddressCity : "永州市")"
                            var c =     "@(Model.CustomerAddressDistrict != null ? Model.CustomerAddressCity : "双牌县")"



                    p(a, b, c)
                }
    </script>
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('#TmbUploadImg').thumbnail();

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "yyyy-mm-dd",
                language: 'zh-CN',
            });
        });
    </script>
}
