@using PositiveEdu.DAL
@using PagedList
@using PagedList.Mvc
@model PagedList<T_GiftsTag>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>礼品分类列表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/GifiManage">礼品管理</a>
            </li>
            <li class="active">
                <strong>礼品分类列表</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>礼品分类列表</h5>
                </div>
                <div class="ibox-content">

                    <a href="@Url.Action("GiftsTagCreate")" class="btn btn-default">新增分类</a>
                    @using (Html.BeginForm("GiftsTagIndex", "GifiManage", FormMethod.Get, htmlAttributes: new { @class = "form-inline" }))
                    {
                        <div class="form-group">
                            <label for="InputMobile" class="sr-only">标签名称</label>
                            <input type="text" placeholder="会员名称" id="InputMobile" class="form-control" name="_TagName" value="@ViewBag._TagName">
                        </div>


                        <button class="btn btn-white" type="submit">查询</button>
                    }

                    <div class="hr-line-dashed"></div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>标签名称</th>
                                <th>是否启用</th>
                                <th>最近修编时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                foreach (var item in Model)
                                {

                                    <tr>

                                        <td>@item.TagName</td>
                                        <td>@(item.IsUse == 1 ? "是" : "否")</td>
                                        <td>@item.UpdatedOn</td>

                                        <td>
                                            <a href="@Url.Action("TagDelete", new { id = item.id })">删除</a>
                                            <a href="@Url.Action("TagEdit", new { id = item.id })">编辑</a>

                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>

                    <div class="dataTables_paginate">
                        <div class="row">
                            <div class="col-sm-8">
                                @Html.PagedListPager(Model, page => Url.Action("GiftsTagIndex", new { page, mobile = ViewBag.Mobile,

                               _TagName=  ViewBag._TagName

                           }), PositiveEdu.Common.PagerUtility.GetPagedListRenderOptions())
                            </div>
                            <div class="col-sm-4 pagination text-right">
                                @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
