@using PositiveEdu.DAL
@using PagedList
@using PagedList.Mvc
@model PagedList<T_Gifts>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>礼品列表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/GifiManage">礼品管理</a>
            </li>
            <li class="active">
                <strong>礼品列表</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>礼品列表</h5>
                </div>
                <div class="ibox-content">
                    <a href="@Url.Action("RealGiftsCreate")" class="btn btn-default">新增实体礼品</a>
                    <a href="@Url.Action("PrivateGiftsCreate")" class="btn btn-default">新增自主券证</a>
                    <a href="@Url.Action("RealGiftsCreate")" class="btn btn-default">新增第三方券证</a>
                    @using (Html.BeginForm("Index", "GifiManage", FormMethod.Get, htmlAttributes: new { @class = "form-inline" }))
                    {
                        <div class="form-group">
                            <label>礼品名称：</label>
                            <input type="text" placeholder="礼品名称" id="InputMobile" class="form-control" name="GiftName" value="@ViewBag.GiftName">
                        </div>
                        <div class="form-group">
                            <label>所属分类：</label>
                            <select class="form-control" name="T_GiftsTagId" id="sex">
                                <option value="全部" @(ViewBag.T_GiftsTagId == "全部" ? "selected =selected" : "")>全部</option>
                                @{

                                    PeContext d = new PeContext();

                                    ;
                                    foreach (var item in d.T_GiftsTag.ToList())
                                    {
                                        <option value="@item.id" @(ViewBag.T_GiftsTagId == item.id + "" ? "selected =selected" : "")>@item.TagName</option>
                                    }



                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label>是否实体礼品：</label>
                            <input type="radio" id="InputMobile" @( ViewBag.GiftType == 0 + "" ? "checked=checked" : "") class="form-control" name="GiftType" value="0">是



                            <input type="radio" id="InputMobile" @(ViewBag.GiftType == 1 + "" ? "checked=checked" : "") class="form-control" name="GiftType" value="1">否


                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>礼品编号：</label>
                            <input type="text" placeholder="礼品编号" id="InputMobile" class="form-control" name="GiftNo" value="@ViewBag.GiftNo">
                        </div>
                        <div class="form-group">
                            <label>是否启用：</label>
                            <input type="radio" id="InputMobile" @( ViewBag.IsShelf == 0 + "" ? "checked=checked" : "") class="form-control" name="IsShelf" value="0">是



                            <input type="radio" id="InputMobile" @(ViewBag.IsShelf == 1 + "" ? "checked=checked" : "") class="form-control" name="IsShelf" value="1">否


                        </div> <div class="hr-line-dashed"></div>

                        <button class="btn btn-white" type="submit">查询</button>
                    }
                    <div class="hr-line-dashed"></div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> 礼品名称       </th>
                                <th> 礼品编号           </th>
                                <th> 启用   </th>
                                <th> 所属分类   </th>
                                <th> 是否虚拟礼品       </th>
                                <th> 当前库存     </th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.GiftName</td>
                                        <td>@item.GiftNo </td>
                                        <td>@(item.IsShelf == 0 ? "是" : "否")</td>
                                        <td>
                                            @{

                                                PeContext p = new PeContext();
                                                var c = p.T_GiftsTag.Where(x => x.id == item.T_GiftsTagId).ToList();


                                                if (c.Count > 0)
                                                {
                                                    {
                                                        @c[0].TagName ;
                                                    }



                                                }
                                            }
                                        </td>
                                        <td>@( item.GiftType == 0 ? "是" : "否")</td>
                                        <td>@item.GiftInventory</td>

                                        <td>
                                            <a href="@Url.Action("RealGiftsDetail", new { id = item.id })">明细</a>
                                            <a href="@Url.Action("RealGiftsEdit", new { id = item.id })">编辑</a>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                    <div class="dataTables_paginate">
                        <div class="row">
                            <div class="col-sm-8">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, mobile = ViewBag.Mobile, payment = ViewBag.Payment }), PositiveEdu.Common.PagerUtility.GetPagedListRenderOptions())
                            </div>
                            <div class="col-sm-4 pagination text-right">
                                @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
