@using PositiveEdu.DAL
@using PagedList
@using PagedList.Mvc
@model  T_CustomerActivity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>
            报名细节
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="/ActivityManage">活动管理</a>
            </li>
            <li class="active">
                <strong>
                    报名细节
                </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        报名细节
                    </h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("T_CustomerActivityEdit", "ActivityManage", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label>当前活动名称：</label>
                            <input type="text" placeholder="当前活动名称" readonly="readonly" id="InputMobile" class="form-control" name="CustomerRealName" value="@Model.T_Activity.ActivityName">
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>报名人：</label>
                            <input type="text" placeholder="报名人" readonly="readonly" id="InputMobile" class="form-control" name="CustomerPhoneNum" value="@Model.T_Customer.CustomerRealName">
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">报名时间</label>
                            <div class="col-sm-10">
                                <div class="input-group date col-lg-3">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @{
                                        string dtStrs = string.Empty;
                                        if (Model.RegistrationTime.HasValue)
                                        {
                                            dtStrs = Model.RegistrationTime.Value.ToString("yyyy-MM-dd");
                                        }
                                    }
                                    <input type="text" style="width:500px " readonly="readonly" class="form-control input-sm" name="RegistrationTime" value="@dtStrs">
                                </div>
                            </div>
                        </div> <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <label>是否允许参与：</label><h3></h3>
                            <input type="radio" id="InputMobile" @(Model.IsCanTake == 1 ? "checked=checked" : "") class="form-control" name="IsCanTake" value="0">是
                            <input type="radio" id="InputMobile" @(Model.IsCanTake == 0 ? "checked=checked" : "") class="form-control" name="IsCanTake" value="1">否
                        </div> <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>所获奖项：</label>
                            <select class="form-control" name="reward" id="sex">
                                <option value="0" @( Model.T_RewardId == null ? "selected =selected" : "")>无</option>
                                @{

                                    PeContext d = new PeContext();
                                    int? id = Model.T_RewardId;

                                    //int ids = ViewBag.ad;
                                    foreach (var item in d.T_Reward.Where(x => x.T_ActivityId == Model.T_ActivityId).ToList())
                                    {
                                        <option value="@item.Id" @(id == item.Id ? "selected =selected" : "")>@item.RewardName</option>
                                    }



                                }

                            </select>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>是否已领奖：</label><h3></h3>
                            <input type="radio" id="InputMobile" @(Model.RewardTime != null ? "checked=checked" : "") class="form-control" name="IsSuccessTake" value="0">是
                            <input type="radio" id="InputMobile" @(Model.RewardTime == null ? "checked=checked" : "") class="form-control" name="IsSuccessTake" value="1">否
                        </div> <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>收件方式：</label><h3></h3>
                            <input type="radio" id="InputMobile" @(Model.EntityRewardGettype == 1 ? "checked=checked" : "") class="form-control" name="EntityRewardGettype" value="0">快递
                            <input type="radio" id="InputMobile" @(Model.EntityRewardGettype == 0 ? "checked=checked" : "") class="form-control" name="EntityRewardGettype" value="1">自提


                        </div> <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>所属区域：</label>
                            <select class="select" name="province" id="s1"><option></option></select>
                            <select class="select" name="city" id="s2"><option></option></select>
                            <select class="select" name="town" id="s3"><option></option></select>
                        </div> <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>详细地址：</label>
                            <input type="text" placeholder="详细地址" id="InputMobile" class="form-control" name="ReciptDetailedAddress" value="@Model.ReciptDetailedAddress">
                        </div> <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <label>收件人：</label>
                            <input type="text" placeholder="收件人" id="InputMobile" class="form-control" name="ReciptName" value="@Model.ReciptName">
                        </div> <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>联系电话：</label>
                            <input type="text" placeholder="联系电话" id="InputMobile" class="form-control" name="ReciptPhoneNum" value="@Model.ReciptPhoneNum">
                        </div> <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>邮编：</label>
                            <input type="text" placeholder="邮编" id="InputMobile" class="form-control" name="AcceptAddressPostCode" value="@Model.AcceptAddressPostCode">
                        </div> <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>快递公司：</label>
                            <input type="text" placeholder="快递公司" id="InputMobile" class="form-control" name="CourierCompany" value="@Model.CourierCompany">
                        </div> <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>派件的单号：</label>
                            <input type="text" placeholder="派件的单号" id="InputMobile" class="form-control" name="DeliveryNumber" value="@Model.DeliveryNumber">
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>扩展字段1</label>
                            <input type="text" placeholder="扩展字段1" id="InputMobile" class="form-control" name="Tag1" value="@Model.Tag1">
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>扩展字段2</label>
                            <input type="text" placeholder="扩展字段2" id="InputMobile" class="form-control" name="Tag2" value="@Model.Tag2">
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>扩展字段3</label>
                            <input type="text" placeholder="扩展字段3" id="InputMobile" class="form-control" name="Tag3" value="@Model.Tag3">
                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>扩展字段4</label>
                            <input type="text" placeholder="扩展字段4" id="InputMobile" class="form-control" name="Tag4" value="@Model.Tag4">

                        </div> <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label>扩展字段5</label>
                            <input type="text" placeholder="扩展字段5" id="InputMobile" class="form-control" name="Tag5" value="@Model.Tag5">
                        </div> <div class="hr-line-dashed"></div>
                        <button class="btn btn-white" type="submit">保存</button>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section Myscripts{
    <script src="~/Scripts/Address.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
                window.onload = function () {

                    var a ="@(Model.ReciptAddressProvince != null ? Model.ReciptAddressProvince : "湖南省")"
                           var b =      "@(Model.ReciptAddressCity != null ? Model.ReciptAddressCity : "永州市")"
                            var c =     "@(Model.ReciptAddressDistrict != null ? Model.ReciptAddressDistrict : "双牌县")"

                    p(a, b, c)
                }
    </script>
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('#TmbUploadImg').thumbnail();

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "yyyy-mm-dd",
                language: 'zh-CN',
            });
        });</script>
}
